@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* fixes a stupid display problem with toolbarbutton[type="menu"] elements */
#customization-container toolbarpaletteitem dropmarker {
    display:none;
}

.mozbutton-panelview .toolbarbutton-icon {
    width:16px;
    height:16px;
}
{%- for css in blocks %}
{{ css }}
{%- endfor %}
{%- for selectors, declarations in css_data %}
{{ selectors }} {
{%- for delaration in declarations %}
    {{ delaration }}
{%- endfor %}
}
{%- endfor %}